body{
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    gap: 25px;
    

}
.header{ 
    padding-top: 0;

}
h1{
    padding-left: 10px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

#gc{
    border: 1px solid black;
    width: 40%;
}

.game{ display: flex;
    flex-direction: row;
    gap: 250px;

}

#score{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100px;
    width: 95px;
    align-self: center;
    align-items: center;
    border-radius: 15px;
}

p{
    color: white;
    align-self: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}